@pink: #BA77FF;
@blue: #8C88FF;
@green: #50D2C2;
@purple: #6563A4;
@white: #FFFFFF;

body {
  color: @white;
}

.bg-pink {
  background-color: @pink;
}
.bg-blue {
  background-color: @blue;
}
.bg-green {
  background-color: @green;
}
.bg-purple {
  background-color: @purple;
}
.bg-white {
  background-color: @white;
}

.header-cont {
  padding-bottom: 15px;
}

.header-nav {
  text-align: center;
  line-height: 36px;
  font-size: 30px;
  cursor: pointer;
}

.header-circle-root {
  height: 40px;
  overflow: hidden;
}
.header-circle-cont {
  margin:0;
  padding:0;
  width: 990px;
  transition: transform 0.5s ease;
}

.header-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 5px;
  display: inline-block;
  border: 1px solid @white;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
}

.header-circle.completed {
  background-color: @green;
  border: 3px solid @pink;
}

.header-circle.completed.selected {
  box-shadow: 0 0 3px 3px @green;
}

.topic-panel-root {
  overflow: hidden;
  margin-bottom: 60px;
}
.topic-panel-cont {
  text-align: left;
  height: 450px;
  margin:0;
  padding:0;
  width: 3000px;
  transition: transform 0.5s ease;
}

.topic-panel {
  display:inline-block;
  position:relative;
  margin: 30px 10px 75px 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 1px 1px 1px 3px #dfdfdf;
  transition: transform 0.5s ease;
}

.topic-panel, .topic-panel-force {
  width:280px;
  height: 400px;
}

.topic-panel-force {
  position: absolute;
}

.topic-panel-bg {
  position: absolute;
  width: 200%;
  height: 75%;
  margin-top: -20%;
  margin-left: -50%;
  transform: rotate(-15deg);
  background-color: @blue;
}

.topic-panel-title {
  color: @white;
  margin: 80px auto 15px auto;
  font-size: 2em;
}

.topic-panel-completed {
  display: inline-block;
  width: 50px;
  height:50px;
  border-radius: 25px;
  border: 3px solid @white;
  background-color: @green;
  text-align: center;
  line-height: 40px;
  font-size: 2em;
}

.topic-panel .button {
  height: 60px;
  line-height:60px;
  width: 160px;
  border-radius: 30px;
  background-color: @green;
  position: absolute;
  bottom: 40px;
  margin-left:60px;
  cursor: pointer;
}

.expander {
  clear: both;
}
.hide {
  visibility: hidden;
}

#top {
  text-align: center;
  font-size: 2em;
  padding: 15px 0;

  & > div {
    margin: 0;
    padding: 0;
  }

  .min-menu {
    font-size: 1em;
  }

  #avatar {
    background-image: url("../assets/avatar.png");
    background-size: 40px 40px;
    width: 40px; height: 40px;
    display: inline-block;
    cursor: pointer;
  }
}

#foot {
  position: fixed;
  width: 100%;
  bottom: 0;

  .foot-menu-item {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: @purple;
  }
}