body {
  color: #FFFFFF;
}
.bg-pink {
  background-color: #BA77FF;
}
.bg-blue {
  background-color: #8C88FF;
}
.bg-green {
  background-color: #50D2C2;
}
.bg-purple {
  background-color: #6563A4;
}
.bg-white {
  background-color: #FFFFFF;
}
.header-cont {
  padding-bottom: 15px;
}
.header-nav {
  text-align: center;
  line-height: 36px;
  font-size: 30px;
  cursor: pointer;
}
.header-circle-root {
  height: 40px;
  overflow: hidden;
}
.header-circle-cont {
  margin: 0;
  padding: 0;
  width: 990px;
  transition: transform 0.5s ease;
}
.header-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #FFFFFF;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
}
.header-circle.completed {
  background-color: #50D2C2;
  border: 3px solid #BA77FF;
}
.header-circle.completed.selected {
  box-shadow: 0 0 3px 3px #50D2C2;
}
.topic-panel-root {
  overflow: hidden;
  margin-bottom: 60px;
}
.topic-panel-cont {
  text-align: left;
  height: 450px;
  margin: 0;
  padding: 0;
  width: 3000px;
  transition: transform 0.5s ease;
}
.topic-panel {
  display: inline-block;
  position: relative;
  margin: 30px 10px 75px 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 1px 1px 1px 3px #dfdfdf;
  transition: transform 0.5s ease;
}
.topic-panel,
.topic-panel-force {
  width: 280px;
  height: 400px;
}
.topic-panel-force {
  position: absolute;
}
.topic-panel-bg {
  position: absolute;
  width: 200%;
  height: 75%;
  margin-top: -20%;
  margin-left: -50%;
  transform: rotate(-15deg);
  background-color: #8C88FF;
}
.topic-panel-title {
  color: #FFFFFF;
  margin: 80px auto 15px auto;
  font-size: 2em;
}
.topic-panel-completed {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 3px solid #FFFFFF;
  background-color: #50D2C2;
  text-align: center;
  line-height: 40px;
  font-size: 2em;
}
.topic-panel .button {
  height: 60px;
  line-height: 60px;
  width: 160px;
  border-radius: 30px;
  background-color: #50D2C2;
  position: absolute;
  bottom: 40px;
  margin-left: 60px;
  cursor: pointer;
}
.expander {
  clear: both;
}
.hide {
  visibility: hidden;
}
#top {
  text-align: center;
  font-size: 2em;
  padding: 15px 0;
}
#top > div {
  margin: 0;
  padding: 0;
}
#top .min-menu {
  font-size: 1em;
}
#top #avatar {
  background-image: url("../assets/avatar.png");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
#foot {
  position: fixed;
  width: 100%;
  bottom: 0;
}
#foot .foot-menu-item {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #6563A4;
}
