<style>
body {
  font-family: Monaco, Consolas, monospaced;
  font-size: 1.0em;
}
</style>

<p><strong>Mathspace Frontend Challenge</strong></p>

<p><strong>Reference mockup</strong></p>

<p><img src="Screen_1.png"></p>

<p><strong>Overview</strong></p>

<p>* The mockup is for a view that lists a number of Subtopics, each having a number, title and completed state.<br />
* Each Subtopic is represented by a numbered circle in the navigation row, and a card, of which only one is visible at a item (the one corresponding to the selected circle).<br />
* The Subtopic&#39;s completed state is reflected in its circle (true should be green), and in the card (true should have the tick icon).<br />
* You don&#39;t need to actually implement the hamburger menu, nor content/views to correspond with the two other tab-bar buttons at the bottom.<br />
* Strict pixel perfection is not necessary.&nbsp;<br />
* Aim for compatibility with one browser of your choice.<br />
* You may have questions as you interpret and implement the mockup, use your best judgment - we&#39;re interested in understanding your decisions.<br />
* Recommended&nbsp;time limit is&nbsp;4 hours. If you have time left, consider the&nbsp;stretch requirements you feel comfortable with.<br />
* Start with this Pen: <a href="http://codepen.io/asavoy/pen/712bbc01197e1c12d134c3c960ce1385/">http://codepen.io/asavoy/pen/712bbc01197e1c12d134c3c960ce1385/</a> and save it (CMD+S or CTRL+S) to create your solution. You use whichever JS libraries you wish, add them in Settings &gt; JavaScript.</p>

<p><strong>Requirements</strong></p>

<p>1. <strong>Basic layout.</strong> Implement the HTML/CSS layout as displayed in the screenshot.&nbsp;<br />
2. <strong>Data-driven content.</strong> Integrate the provided JSON data, to dynamically generate the content.<br />
3. <strong>Basic behaviours.</strong> Implement page behaviour, such that when a numbered circle is clicked, the corresponding card appears in the white space below. The numbered circle should also appear selected.</p>

<p><strong>Stretch requirements</strong></p>

<p>1. <strong>Responsive layout.</strong> Implement responsive styles/behaviours to suit larger screens. You may decide how the layout makes use of the increased space.<br />
2. <strong>Animations.</strong> Implement a transition when a new card is selected, to replace the existing card. Have the elements on the card animate in.<br />
3. <strong>Advanced behaviours.</strong> When the row of circles doesn&#39;t fit the available width, the left/right arrows should slide the row so that more circles are revealed. When the &quot;Let&#39;s Go&quot; button is clicked, the completed state of that Subtopic should be set true, and this should be reflected in the circle navigation and the card.</p>

<p><strong>Styles</strong></p>

<p>Pink: #BA77FF<br />
Blue: #8C88FF<br />
Green: #50D2C2<br />
Purple: #6563A4<br />
White: #FFFFFF</p>

<p>Font face: Helvetica</p>

<p><strong>Images</strong></p>

<p>https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/avatar.png&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/avatar@2x.png&nbsp;</p>

<p>https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/left.png&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/left.svg&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/left@2x.png&nbsp;</p>

<p>https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/linegraph.png&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/linegraph.svg&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/linegraph@2x.png&nbsp;</p>

<p>https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/menu.png&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/menu.svg&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/menu@2x.png&nbsp;</p>

<p>https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/piechart.png&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/piechart.svg&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/piechart@2x.png&nbsp;</p>

<p>https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/right.png&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/right.svg&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/right@2x.png&nbsp;</p>

<p>https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/tick-big.png&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/tick-big.svg&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/tick-big@2x.png&nbsp;</p>

<p>https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/tick.png&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/tick.svg&nbsp;<br />
https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/tick@2x.png</p>

<p><strong>Data</strong></p>

<p>topic = {<br />
&nbsp; title: &quot;Geometry&quot;<br />
};<br />
subtopics = [<br />
&nbsp; { index: 1, title: &quot;Triangles&quot;, completed: true },<br />
&nbsp; { index: 2, title: &quot;Angle Sum&quot;, completed: true },<br />
&nbsp; { index: 3, title: &quot;Similar Triangles&quot;, completed: true },<br />
&nbsp; { index: 4, title: &quot;Congruence&quot;, completed: false },<br />
&nbsp; { index: 5, title: &quot;Enlargements&quot;, completed: false },<br />
&nbsp; { index: 6, title: &quot;Parallel Lines&quot;, completed: false },<br />
&nbsp; { index: 7, title: &quot;Pythagoras Theorem&quot;, completed: false },<br />
&nbsp; { index: 8, title: &quot;Revision&quot;, completed: false },<br />
&nbsp; { index: 9, title: &quot;Topic Test&quot;, completed: false }<br />
];</p>


